@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,600;1,400&display=swap');


body{
    background-color: black;
}
/*------------------------------------ Nav ------------------------------------*/
.nav_title {
    color: white;
    font-size: 32px;
}

.nav_title span:nth-child(-n+3) {
    color: #FD3411;
}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 32px;
}
.nav_items{
    list-style: none;
}

.nav_links{
    color: #fff;
    text-decoration: none;
    
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

.nav{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 36px;
    font-family: 'Instrument Sans', sans-serif;
}

.nav_close{
    display: var(--show, none);
}

/*--------------------------------- Hero ---------------------------------*/

.hero_text {
    font-family: 'Instrument Sans', sans-serif;
    color: white;
    font-size: 72px;
    padding: 46px;
}

.hero_button {
    margin-top: 30px;
    padding: 16px;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    background-color: #CCCBCB;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/*--------------------------------- What? ---------------------------------*/


.What{
    color: white;
    max-width: 900px;
    padding: 50px;
    font-family: 'Instrument Sans', sans-serif;
}

.subtitule { 
    font-size: 64px;
    margin-bottom: 25px;
    padding: 40px;
    text-align: center;
}

.What_paragraph {
    font-size: 28px;
}

/*--------------------------------- How? ---------------------------------*/

.image-container2 {
    position: relative;
    width: 100%;
}

.background-image2 {
    width: 100%;
    height: auto;
}

.image-text2 {
    position: absolute;
    top: 65%;
    left: 55%;
    color: white;
    font-family: 'Instrument Sans', sans-serif;
}

.image-text2 h2 {
    font-size: 55px;
    margin: 0;
}

.how_paragraph {
    color: white;
    max-width: 900px;
    font-family: 'Instrument Sans', sans-serif;
    padding: 16px;
    font-size: 28px;
}

/*--------------------------------- For? ---------------------------------*/

.image-container {
    position: relative;
    width: 100%;
}

.background-image {
    width: 100%;
    height: auto;
}

.image-text {
    position: absolute;
    top: 80%;
    left: 25%;
    color: white;
    font-family: 'Instrument Sans', sans-serif;
}

.image-text h2 {
    font-size: 65px;
    margin: 0;
}

.for_paragraph {
    color: white;
    max-width: 900px;
    font-family: 'Instrument Sans', sans-serif;
    padding: 16px;
    font-size: 28px;
}

/*--------------------------------- Types ---------------------------------*/
.type{
    padding: 40px;
    color: white;
    font-family: 'Instrument Sans', sans-serif;
}

.container_type{
    background: #514B4B;
    display: flex;
    flex-direction: column;
    gap: 24px;        
    padding: 20px;     
    border-radius: 10px;
}

.type_title h2{
    margin: 0;        
    font-size: 36px;
}

.type_image{
    width: 100%;
    display: block;   
    border-radius: 6px;
}

.type_paragraph{
    margin: 0;       
    line-height: 1.65;
    font-size: 18px;
}

/*---------------------------- HowFunct ---------------------------------*/

.howfunct{
    color: white;
    font-family: 'Instrument Sans', sans-serif;
}

.image-container3 {
    position: relative;
    width: 100%;
}

.background-image3 {
    width: 100%;
    height: auto;
}

.image-text3 {
    position: absolute;
    top: 75%;
    left: 55%;
    color: white;
    font-family: 'Instrument Sans', sans-serif;
}

.image-text3 h2 {
    font-size: 55px;
    margin: 0;
}

.howfunct_paragraph{
    padding: 40px;
    margin: 0;       
    line-height: 1.65;
    font-size: 18px;
}

/*---------------------------- Advantages ---------------------------------*/


.advantages{
    color: white;
    font-family: 'Instrument Sans', sans-serif;
}
.image-container4 {
    position: relative;
    width: 100%;
}

.background-image4 {
    width: 100%;
    height: auto;
}

.image-text4 {
    position: absolute;
    top: 80%;
    right: 60%;
    color: white;
    font-family: 'Instrument Sans', sans-serif;
}

.image-text4 h2 {
    font-size: 60px;
    margin: 0;
}

.advantages_paragraph{
    padding: 40px;
    margin: 0;       
    line-height: 1.65;
    font-size: 18px;
    
    .benefit {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    }
}

/* ---------------------------  Para que funcione el JS Menu --------------------------- */

@media (max-width: 768px) {
    .nav_link {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgba(0, 0, 0, 0.95);
        width: 55%;
        height: auto;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        border-radius: 12px 0 0 12px;
        transition: right 0.3s ease-in-out;
        z-index: 100;
    }

    .nav_link--show {
        right: 0;
    }

    .nav_menu {
        display: block;
        z-index: 200;
        position: fixed;
        top: 30px;
        right: 30px;
        width: 25px;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }

    .nav_link--show ~ .nav_menu {
        opacity: 0;
        pointer-events: none;
    }

    .nav_close {
        display: none;
        position: fixed;
        top: 30px;
        right: 30px;
        width: 20px;
        cursor: pointer;
        z-index: 300;
    }

    .nav_link--show .nav_close {
        display: block;
    }
}



